.main {
  margin: 15px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainButtons {
  background-color: var(--dark-body);
}

.modal {
  color: white;
}

.teamList {
  display: flex;
  justify-content: space-between;
}

.teamList > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-body);
  width: 200px;
  height: 400px;
  color: white;
}