.main {
  margin: 15px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainButtons {
  background-color: var(--dark-body);
}

.modal {
  color: white;
}

.teamList {
  display: flex;
  justify-content: space-between;
}

.teamList > div {
  background-color: var(--dark-body);
  width: 200px;
  height: 400px;
  color: white;
}

.centerItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  border: 1px solid var(--background-color);
  border-radius: 1px;
  margin-bottom: 15px;
  box-shadow: 2px 1px 5px var(--background-color)
}

.centerItemActive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
  border: 1px solid var(--background-color);
  border-radius: 1px;
  margin-bottom: 15px;
  box-shadow: 2px 1px 5px var(--background-color)
}

.centerItemActive > div {
  color: white;
}

.centerItem > div {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
}