.main {
  background-color: var(--dark-body);
  padding: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.main h5:first-child {
  /* border-bottom: 1px solid white; */
}

.teamWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.teamWrapper > div {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamWrapper > div > h6 {
  border-bottom: 2px solid var(--background-color);
}