.match {
  color: white;
  padding: 10px;
}

.centerItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.centerItem > div {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
}

.colorSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 10px 0px;
}

.positive {
  background-color: white;
  color: black;
}

.negative {
   background-color: black;
  color: white;
}