.main {
  display: flex;
  flex-direction: column;
  align-items: center;


  background-color: var(--dark-body);
  padding: 30px;
  width: 80%;
  margin-top: 20px;

}

.scoreBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  margin-top: 20px 0px;
}

.matchesField {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 600px;
}

.matchItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--background-color);
  padding: 10px 20px;
  width: 100px;
  margin-right: 10px;
  transition: .3s;
}

.matchItem:hover {
  width: 110px;
  box-shadow: 10px 10px 5px black;
}

.holderArray {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  /* width: fit-content; */
  background-color: var(--dark-body);
  height: 100px;
  min-width: 500px;
  padding: 30px;
}

.roundOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  height: 125px;
  background-color: var(--dark-body);
}

.roundOver h3 {
  margin: 20px 50px;
}