.main {
  margin: 15px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingRoster {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.teamList {
  display: flex;
  justify-content: space-between;
}

.settingRoster > div {
  background-color: var(--dark-body);
  width: 200px;
  height: 400px;
  color: white;
  text-align: center;
}

.holderArray {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  /* width: fit-content; */
  background-color: var(--dark-body);
  height: 100px;
  min-width: 500px;
  padding: 30px;
}

.matchItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  padding: 10px 20px;
  width: 80px;
  margin-right: 10px;
}

.forwardButton {
  margin: 30px
}

/* PLayerITEM */
.centerItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.centerItem > div {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
}

/* .centerItemActive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.centerItemActive > div {
  color: white;
} */

/* MATCH STYLING */
.match {
  color: white;
  padding: 10px;
}

.scoreModal {
  display: flex;
  flex-direction: row;
  
}

.scoreModal > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreModal > div > h4 {
  border-bottom: 2px solid white;
}

.scoreModalPlayer {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  color: black;
  width: 80%;
  margin: 5px 0px;
  padding: 10px;
}

.scoreModalPlayer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.scoreModalPlayer > div:first-child{
  
  border-bottom: 1px solid black;
}