.displayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayContent > h3 {
  border-bottom: 1px solid white;
}

.displayContent > h4 {
  margin: 5px 0px;
}

.scoreModal {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.scoreModal h6 {
  border-bottom: 2px solid var(--background-color);
}

.scoreModal > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreModal > div:first-child {
  border-right: 1px solid white;
}

.scoreModalPlayer {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  border: 2px solid var(--background-color);
  /* border-radius: 10px; */
  color: white;
  width: 80%;
  margin: 10px 0px;
  padding: 10px;
}

.scoreModalPlayer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.scoreModalPlayer > div:first-child{
  
  border-bottom: 1px solid var(--background-color);
}

.displayContent footer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  margin: 10px;
}

.displayContent footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0px;
  width: 100%;
}