.matchModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outcome {
  border: 2px solid var(--background-color);
  padding: 5px;
  margin: 5px;
  width: 200px;
  text-align: center;
  transition: .5s
}

.outcome:hover {
  width: 210px;
}

.green {
  /* box-shadow: 5px green; */
  background-color: green;
  transition: 1s;
}

.red {
  background-color: red;
}

.draw {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.correct {
  background-color: var(--background-color);
  color: white;
  border: 2px solid var(--dark-body);
}

.matchModal button {
  margin-top: 10px;
}